:root {
  --bgcolor: rgb(34, 40, 49);
  --text-color: rgb(238, 238, 238);
  --text-opacity: rgba(238, 238, 238, 0.8);
  --bghighlight: rgba(30, 36, 45, 0.8);
  --bghover: rgba(40, 46, 52, 0.5);
  --primarycolor: rgb(0, 173, 181);
  --primaryhighlight: rgba(0, 173, 181, 0.8);
}
html {
  scroll-behavior: smooth;
  background-color: var(--bgcolor);
}
body {
  color: var(--text-color);
  min-width: 350px;
  margin: 0;
  padding: auto;
}
.footer {
  background-color: var(--bghighlight);
}

.header {
  grid-template-columns: 0.2fr auto minmax(420px, 2fr) 0.2fr;
  display: flex;
  top: 0;
  position: sticky;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: var(--bghighlight);
}

.navbar-list {
  list-style-type: none;
}
.navbar-item {
  margin-bottom: 1rem;
}
.navbar-item a {
  color: var(--primarycolor);
  padding: 0.2rem 0.5rem;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  border-radius: 0.5rem;
}
.navbar-item a:hover,
.navbar-item a:focus {
  color: var(--primaryhighlight);
  background: var(--bghover);
  /* background: #3d3c3c; */
}
.navbar-item .current {
  color: var(--primaryhighlight);
}

.space {
  padding: 2.1rem;
  display: none;
}

main {
  padding: 1rem;
}

/*big screen style*/
/* @media screen and (min-width: 650px) { */
.nav-toggle-label {
  display: none;
}

.navbar {
  all: unset;
  grid-column: 3 / span 1;
  /* display: flex; */
  /* justify-content: space-around; */
  /* align-items: flex-end; */
}
.navbar-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.navbar-item {
  margin-bottom: 0;
}
.navbar-item .nav-link,
.navbar-item .current {
  opacity: 1;
  position: relative;
}
.navbar-item .nav-link:before,
.navbar-item .current::before {
  content: " ";
  display: block;
  height: 3px;
  /* background: rgb(56, 151, 206); */
  background: var(--primaryhighlight);
  position: absolute;
  left: 0;
  right: 0;
  top: -0.5rem;
  transform: scale(0, 1);
  transition: transform ease-in-out 250ms;
}
.navbar-item a.nav-link:hover::before,
.navbar-item a.nav-link:focus::before,
.navbar-item .current::before {
  transform: scale(1, 1);
}

img.logo {
  width: 5rem;
  aspect-ratio: 1/1;
  padding: 0.5rem;
}

.sub-heading,
.column-heading,
.columns {
  justify-items: center;
  /* align-items: center; */
  text-align: center;
}
.hero {
  position: relative;
  display: flex;
  width: auto;
  height: 100vh;
  /* justify-content: center; */
  align-items: center;
  overflow: hidden;
}
.canvas {
  position: absolute;
  inset: 0;
  opacity: 0.5;
  z-index: 2;
}
.hero-heading {
  position: absolute;

  display: flex;
  align-self: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: max-content;
  height: auto;
  /* background-color: rgba(30, 36, 45, 0.1); */

  inset: 0;
  margin: auto;
}

.more {
  display: flex;
  position: absolute;
  justify-content: center;
  text-align: center;
  margin-top: 100%;
  z-index: 2;
}
.more > .btn {
  border: 0.25rem solid var(--primarycolor);
  color: var(--primarycolor);
  background-color: transparent;
  box-shadow: inset 0 0 var(--primarycolor);
  width: 15rem;
  transition: 0.2s ease-in;

  /* rgb(0, 173, 181) */
  /* rgba(0, 173, 181, 0.8) */
  /* rgba(30, 36, 45, 0.8) */
  /* rgb(34, 40, 49) */
  /* transition-duration: 0.5s; */
}

.more > .btn:hover {
  box-shadow: inset 15rem 0 var(--primarycolor), 0 0 1rem 0 var(--text-opacity);
  color: var(--text-color);
  border: 0.25em solid var(--text-opacity);
}

.name {
  /* text-transform: uppercase; */
  font-weight: 800;
  color: var(--primarycolor);
}

.hero-title {
  font-size: 1.5rem;
  text-align: center;
  position: relative;
  margin-bottom: 1.5em;

  font-family: "Syne Mono", monospace;
  /* opacity: 0; */
}

.hero-title::before,
.hero-title::after {
  content: "";
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero-title::before {
  background: var(--bgcolor);
  animation: typewriter 1s steps(20) 0.2s forwards;
}

.hero-title::after {
  width: 0.125rem;
  background: var(--text-color);

  z-index: 1000;
  animation: typewriter 1s steps(20) 0.2s forwards,
    blinkingcursor 500ms infinite forwards;
}

.hero-text {
  font-size: small;
  padding: 0;
  margin: 0% !important;
  border: 0;
  opacity: 0;
  width: fit-content;
}

.hero-text.text-1 {
  transform: translateY(2rem);
  animation: fadeInUp 0.7s ease-in 1.9s forwards;
}
.hero-text.text-2 {
  transform: translateY(1rem);
  animation: fadeInUp 1s ease-out 3s forwards;
}

.more {
  opacity: 0;
  animation: fadein 1.5s ease-in 4s forwards;
}

/* todo adjust colors based on scheme */
@media (prefers-color-scheme: light) {
  :root,
  body.dark {
    --bgcolor: rgb(238, 238, 238);
    --text-color: rgb(34, 40, 49);
    --text-opacity: rgba(30, 36, 45, 0.8);
    --bghighlight: rgba(238, 238, 238, 0.8);
    --bghover: rgb(200, 200, 200, 0.5);
    --primarycolor: rgb(0, 173, 181);
    --primaryhighlight: rgba(0, 173, 181, 0.8);
  }
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blinkingcursor {
  10%,
  40% {
    background: transparent;
  }
  60%,
  100% {
    background: var(--text-color);
  }
}
